# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db

# KiCad backups and extras
*.bak
*.tmp
*.sch-bak
*.kicad_prl
*.kicad_prl-bak
*-backups/

# Other
*.log
